# VERSION
0.1.0
---
__pycache__/
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/


.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


.vscode/
.idea/
*.swp
*.swo
*~


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db


config/settings.json
logs/
*.log


*.tmp
*.temp
temp/

*.txt
./elegoo-remote
read-output.py
/__pycache__/*
/build/*
/dist/*
admin.manifest
ir_control2.py
control.py
*.spec
ir_codes.py
/plans

/old_src
/scripts/*
/docs
# /config
makefile
pyproject.toml
.pre-commit-config.yml
/.github
/src/launcher.py
setup.py
deploy.py
pytest.ini
VERSION